In [1]:
import pandas as pd
pd.set_option('display.max_columns', 100)
import numpy as np

from matplotlib import pyplot as plt
%matplotlib inline

import seaborn as sns

In [2]:
df = pd.read_csv('job opportunities.csv')
df.head(12)

,REF_DATE,GEO,DGUID,Statistics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2015-01,Canada,2016A000011124,Job vacancies,Number,223,units,0,v1374464762,1.1,442050.0,E,NaN,NaN,0
1,2015-01,Canada,2016A000011124,Payroll employees,Number,223,units,0,v1374464763,1.2,15060885.0,D,NaN,NaN,0
2,2015-01,Canada,2016A000011124,Job vacancy rate,Percentage,242,units,0,v1374464764,1.3,2.9,E,NaN,NaN,1
3,2015-01,Newfoundland and Labrador,2016A000210,Job vacancies,Number,223,units,0,v1374464765,2.1,NaN,F,NaN,NaN,0
4,2015-01,Newfoundland and Labrador,2016A000210,Payroll employees,Number,223,units,0,v1374464766,2.2,203575.0,E,NaN,NaN,0
5,2015-01,Newfoundland and Labrador,2016A000210,Job vacancy rate,Percentage,242,units,0,v1374464767,2.3,NaN,F,NaN,NaN,1
6,2015-01,"Avalon Peninsula, Newfoundland and Labrador",2016S05001010,Job vacancies,Number,223,units,0,v1374464768,3.1,NaN,F,NaN,NaN,0
7,2015-01,"Avalon Peninsula, Newfoundland and Labrador",2016S05001010,Payroll employees,Number,223,units,0,v1374464769,3.2,NaN,F,NaN,NaN,0
8,2015-01,"Avalon Peninsula, Newfoundland and Labrador",2016S05001010,Job vacancy rate,Percentage,242,units,0,v1374464770,3.3,NaN,F,NaN,NaN,1
9,2015-01,South Coast-Burin Peninsula and Notre Dame-Cen...,NaN,Job vacancies,Number,223,units,0,v1374464771,4.1,NaN,F,NaN,NaN,0
10,2015-01,South Coast-Burin Peninsula and Notre Dame-Cen...,NaN,Payroll employees,Number,223,units,0,v1374464772,4.2,48855.0,E,NaN,NaN,0
11,2015-01,South Coast-Burin Peninsula and Notre Dame-Cen...,NaN,Job vacancy rate,Percentage,242,units,0,v1374464773,4.3,NaN,F,NaN,NaN,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8217 entries, 0 to 8216
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   REF_DATE       8217 non-null   object
 1   GEO            8217 non-null   object
 2   DGUID          7524 non-null   object
 3   Statistics     8217 non-null   object
 4   UOM            8217 non-null   object
 5   UOM_ID         8217 non-null   int64
 6   SCALAR_FACTOR  8217 non-null   object
 7   SCALAR_ID      8217 non-null   int64
 8   VECTOR         8217 non-null   object
 9   COORDINATE     8217 non-null   float64
 10  VALUE          8133 non-null   float64
 11  STATUS         8217 non-null   object
 12  SYMBOL         0 non-null      float64
 13  TERMINATED     0 non-null      float64
 14  DECIMALS       8217 non-null   int64
dtypes: float64(4), int64(3), object(8)
memory usage: 963.1+ KB

In [4]:
df = df.replace("NaN",0)

In [5]:
df = df.fillna(0)

In [6]:
df.head(12)

,REF_DATE,GEO,DGUID,Statistics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2015-01,Canada,2016A000011124,Job vacancies,Number,223,units,0,v1374464762,1.1,442050.0,E,0.0,0.0,0
1,2015-01,Canada,2016A000011124,Payroll employees,Number,223,units,0,v1374464763,1.2,15060885.0,D,0.0,0.0,0
2,2015-01,Canada,2016A000011124,Job vacancy rate,Percentage,242,units,0,v1374464764,1.3,2.9,E,0.0,0.0,1
3,2015-01,Newfoundland and Labrador,2016A000210,Job vacancies,Number,223,units,0,v1374464765,2.1,0.0,F,0.0,0.0,0
4,2015-01,Newfoundland and Labrador,2016A000210,Payroll employees,Number,223,units,0,v1374464766,2.2,203575.0,E,0.0,0.0,0
5,2015-01,Newfoundland and Labrador,2016A000210,Job vacancy rate,Percentage,242,units,0,v1374464767,2.3,0.0,F,0.0,0.0,1
6,2015-01,"Avalon Peninsula, Newfoundland and Labrador",2016S05001010,Job vacancies,Number,223,units,0,v1374464768,3.1,0.0,F,0.0,0.0,0
7,2015-01,"Avalon Peninsula, Newfoundland and Labrador",2016S05001010,Payroll employees,Number,223,units,0,v1374464769,3.2,0.0,F,0.0,0.0,0
8,2015-01,"Avalon Peninsula, Newfoundland and Labrador",2016S05001010,Job vacancy rate,Percentage,242,units,0,v1374464770,3.3,0.0,F,0.0,0.0,1
9,2015-01,South Coast-Burin Peninsula and Notre Dame-Cen...,0,Job vacancies,Number,223,units,0,v1374464771,4.1,0.0,F,0.0,0.0,0
10,2015-01,South Coast-Burin Peninsula and Notre Dame-Cen...,0,Payroll employees,Number,223,units,0,v1374464772,4.2,48855.0,E,0.0,0.0,0
11,2015-01,South Coast-Burin Peninsula and Notre Dame-Cen...,0,Job vacancy rate,Percentage,242,units,0,v1374464773,4.3,0.0,F,0.0,0.0,1

In [7]:
df["SCALAR_FACTOR"].unique()

array(['units'], dtype=object)

In [8]:
#droping the useless coloumns
df = df.drop(['SCALAR_FACTOR', 'SCALAR_ID','SYMBOL','TERMINATED'], axis=1)

In [9]:
df['Statistics'].unique()

array(['Job vacancies', 'Payroll employees', 'Job vacancy rate'],
      dtype=object)

In [10]:
df['Job vacancies'] = df.loc[df['Statistics'] == 'Job vacancies']['VALUE']
df.head()

,REF_DATE,GEO,DGUID,Statistics,UOM,UOM_ID,VECTOR,COORDINATE,VALUE,STATUS,DECIMALS,Job vacancies
0,2015-01,Canada,2016A000011124,Job vacancies,Number,223,v1374464762,1.1,442050.0,E,0,442050.0
1,2015-01,Canada,2016A000011124,Payroll employees,Number,223,v1374464763,1.2,15060885.0,D,0,NaN
2,2015-01,Canada,2016A000011124,Job vacancy rate,Percentage,242,v1374464764,1.3,2.9,E,1,NaN
3,2015-01,Newfoundland and Labrador,2016A000210,Job vacancies,Number,223,v1374464765,2.1,0.0,F,0,0.0
4,2015-01,Newfoundland and Labrador,2016A000210,Payroll employees,Number,223,v1374464766,2.2,203575.0,E,0,NaN

In [11]:
df['Payroll employees'] = df.loc[df['Statistics'] == 'Payroll employees']['VALUE']
df.head()

,REF_DATE,GEO,DGUID,Statistics,UOM,UOM_ID,VECTOR,COORDINATE,VALUE,STATUS,DECIMALS,Job vacancies,Payroll employees
0,2015-01,Canada,2016A000011124,Job vacancies,Number,223,v1374464762,1.1,442050.0,E,0,442050.0,NaN
1,2015-01,Canada,2016A000011124,Payroll employees,Number,223,v1374464763,1.2,15060885.0,D,0,NaN,15060885.0
2,2015-01,Canada,2016A000011124,Job vacancy rate,Percentage,242,v1374464764,1.3,2.9,E,1,NaN,NaN
3,2015-01,Newfoundland and Labrador,2016A000210,Job vacancies,Number,223,v1374464765,2.1,0.0,F,0,0.0,NaN
4,2015-01,Newfoundland and Labrador,2016A000210,Payroll employees,Number,223,v1374464766,2.2,203575.0,E,0,NaN,203575.0

In [12]:
df['Job vacancy rate'] = df.loc[df['Statistics'] == 'Job vacancy rate']['VALUE']
df.head()

,REF_DATE,GEO,DGUID,Statistics,UOM,UOM_ID,VECTOR,COORDINATE,VALUE,STATUS,DECIMALS,Job vacancies,Payroll employees,Job vacancy rate
0,2015-01,Canada,2016A000011124,Job vacancies,Number,223,v1374464762,1.1,442050.0,E,0,442050.0,NaN,NaN
1,2015-01,Canada,2016A000011124,Payroll employees,Number,223,v1374464763,1.2,15060885.0,D,0,NaN,15060885.0,NaN
2,2015-01,Canada,2016A000011124,Job vacancy rate,Percentage,242,v1374464764,1.3,2.9,E,1,NaN,NaN,2.9
3,2015-01,Newfoundland and Labrador,2016A000210,Job vacancies,Number,223,v1374464765,2.1,0.0,F,0,0.0,NaN,NaN
4,2015-01,Newfoundland and Labrador,2016A000210,Payroll employees,Number,223,v1374464766,2.2,203575.0,E,0,NaN,203575.0,NaN

In [13]:
df['Payroll employees'] = df['Payroll employees'].shift(-1)

In [14]:
df['Job vacancy rate'] = df['Job vacancy rate'].shift(-2)

In [15]:
df.head(12)

,REF_DATE,GEO,DGUID,Statistics,UOM,UOM_ID,VECTOR,COORDINATE,VALUE,STATUS,DECIMALS,Job vacancies,Payroll employees,Job vacancy rate
0,2015-01,Canada,2016A000011124,Job vacancies,Number,223,v1374464762,1.1,442050.0,E,0,442050.0,15060885.0,2.9
1,2015-01,Canada,2016A000011124,Payroll employees,Number,223,v1374464763,1.2,15060885.0,D,0,NaN,NaN,NaN
2,2015-01,Canada,2016A000011124,Job vacancy rate,Percentage,242,v1374464764,1.3,2.9,E,1,NaN,NaN,NaN
3,2015-01,Newfoundland and Labrador,2016A000210,Job vacancies,Number,223,v1374464765,2.1,0.0,F,0,0.0,203575.0,0.0
4,2015-01,Newfoundland and Labrador,2016A000210,Payroll employees,Number,223,v1374464766,2.2,203575.0,E,0,NaN,NaN,NaN
5,2015-01,Newfoundland and Labrador,2016A000210,Job vacancy rate,Percentage,242,v1374464767,2.3,0.0,F,1,NaN,NaN,NaN
6,2015-01,"Avalon Peninsula, Newfoundland and Labrador",2016S05001010,Job vacancies,Number,223,v1374464768,3.1,0.0,F,0,0.0,0.0,0.0
7,2015-01,"Avalon Peninsula, Newfoundland and Labrador",2016S05001010,Payroll employees,Number,223,v1374464769,3.2,0.0,F,0,NaN,NaN,NaN
8,2015-01,"Avalon Peninsula, Newfoundland and Labrador",2016S05001010,Job vacancy rate,Percentage,242,v1374464770,3.3,0.0,F,1,NaN,NaN,NaN
9,2015-01,South Coast-Burin Peninsula and Notre Dame-Cen...,0,Job vacancies,Number,223,v1374464771,4.1,0.0,F,0,0.0,48855.0,0.0
10,2015-01,South Coast-Burin Peninsula and Notre Dame-Cen...,0,Payroll employees,Number,223,v1374464772,4.2,48855.0,E,0,NaN,NaN,NaN
11,2015-01,South Coast-Burin Peninsula and Notre Dame-Cen...,0,Job vacancy rate,Percentage,242,v1374464773,4.3,0.0,F,1,NaN,NaN,NaN

In [16]:
df=df.drop(['Statistics', 'VALUE'], axis=1)

In [17]:
df = df.dropna()

In [21]:
df.tail(20)

,REF_DATE,GEO,DGUID,UOM,UOM_ID,VECTOR,COORDINATE,STATUS,DECIMALS,Job vacancies,Payroll employees,Job vacancy rate
8157,2023-07,"Camrose-Drumheller, Alberta",2016S05004820,Number,223,v1374464951,64.1,B,0,3290.0,69610.0,4.5
8160,2023-07,"Calgary, Alberta",2016S05004830,Number,223,v1374464954,65.1,A,0,29535.0,811675.0,3.5
8163,2023-07,Banff-Jasper-Rocky Mountain House and Athabasc...,0,Number,223,v1374464957,66.1,B,0,9075.0,161195.0,5.3
8166,2023-07,"Red Deer, Alberta",2016S05004850,Number,223,v1374464960,67.1,B,0,3770.0,92885.0,3.9
8169,2023-07,"Edmonton, Alberta",2016S05004860,Number,223,v1374464963,68.1,B,0,31475.0,707010.0,4.3
8172,2023-07,"Wood Buffalo-Cold Lake, Alberta",2016S05004880,Number,223,v1374464966,69.1,B,0,4065.0,80245.0,4.8
8175,2023-07,British Columbia,2016A000259,Number,223,v1374464969,70.1,A,0,114740.0,2425120.0,4.5
8178,2023-07,"Vancouver Island and Coast, British Columbia",2016S05005910,Number,223,v1374464972,71.1,B,0,14935.0,341065.0,4.2
8181,2023-07,"Lower Mainland-Southwest, British Columbia",2016S05005920,Number,223,v1374464975,72.1,A,0,70840.0,1589655.0,4.3
8184,2023-07,"Thompson-Okanagan, British Columbia",2016S05005930,Number,223,v1374464978,73.1,B,0,14475.0,270310.0,5.1
8187,2023-07,"Kootenay, British Columbia",2016S05005940,Number,223,v1374464981,74.1,B,0,4465.0,73330.0,5.7
8190,2023-07,"Cariboo, British Columbia",2016S05005950,Number,223,v1374464984,75.1,B,0,4405.0,71910.0,5.8
8193,2023-07,"North Coast and Nechako, British Columbia",0,Number,223,v1374464987,76.1,B,0,2845.0,41905.0,6.4
8196,2023-07,"Northeast, British Columbia",2016S05005980,Number,223,v1374464990,77.1,B,0,2775.0,36945.0,7.0
8199,2023-07,Yukon,2016A000260,Number,223,v1374464993,78.1,C,0,1095.0,19300.0,5.4
8202,2023-07,Yukon,2016S05006010,Number,223,v1374464996,79.1,C,0,1095.0,19300.0,5.4
8205,2023-07,Northwest Territories,2016A000261,Number,223,v1374464999,80.1,C,0,1075.0,22210.0,4.6
8208,2023-07,Northwest Territories,2016S05006110,Number,223,v1374465002,81.1,C,0,1075.0,22210.0,4.6
8211,2023-07,Nunavut,2016A000262,Number,223,v1374465005,82.1,D,0,670.0,16450.0,3.9
8214,2023-07,Nunavut,2016S05006210,Number,223,v1374465008,83.1,D,0,670.0,16450.0,3.9

In [22]:
df.to_excel("job_Opportunitycleaned data.xlsx",index = None)